@import url("https://fints.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Poppins', sans-serif;
}

:root {
        --primary-bg-color: #2d3250;
        --secondary-bg-color: #424769;
        --tertiary-bg-color: #676f9d;
        --text-color: #ffffff;
        --main-color: #f9b17a;
}

html {
        font-size: 62.5%;
        overflow-x: hidden;
}

body {
        background: var(--primary-bg-color);
        color: var(--text-color);
}

section {
        min-height: 100vh;
        padding: 10rem 9% 2rem;
}

.header {
        position: fixed;
        top: 0;
        left: 0;
        padding: 2rem 9%;
        background: var(--primary-bg-color);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
}

.header .sticky {
        border-bottom: .1rem solid rgba(0, 0, 0, .5);
}

.logo {
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--text-color);
        cursor: default;
}

.navbar a {
        font-size: 1.7rem;
        color: var(--text-color);
        margin-left: 4rem;
        transition: 0.5s;
}

.navbar a:hover,
.navbar a.active {
        color: var(--main-color);
}

#menu-icon {
        font-size: 3.6rem;
        color: var(--text-color);
        display: none;
}

.home {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
}

.home-content h1 {
        font-size: 5.6rem;
        font-weight: 700;
        color: var(--main-color);
        line-height: 1.3;
}

.home-content h3 {
        font-size: 3.2rem;
        font-weight: 700;
}

.home-content h3:nth-of-type(2) {
        margin-bottom: 2rem;
}

span {
        color: var(--main-color);
}

.home-content p {
        font-size: 1.6rem;
}

.social-media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        color: var(--main-color);
        font-size: 2rem;
        margin: 3rem 1.5rem 3rem 0;
        transition: .5s ease;
}

.social-media a:hover {
        background: var(--main-color);
        color: var(--secondary-bg-color);
        box-shadow: 0 0 1rem var(--main-color);
}

.btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.8rem;
        background: var(--main-color);
        border-radius: 4rem;
        box-shadow: 0 0 1rem var(--main-color);
        font-size: 1.6rem;
        color: var(--secondary-bg-color);
        letter-spacing: .1rem;
        font-weight: 600;
        transition: .5s ease;
}

.btn i {
        font-size: 3rem;
        margin-right: 1rem;
}

.btn:hover {
        box-shadow: none;
}

.home-img img {
        width: 35vw;
        display: flex;
        justify-content: center;
        align-items: center;
}

.about {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background: var(--secondary-bg-color);
        padding-bottom: 0;
}

.about-img img {
        width: 35vw;
}

.heading {
        text-align: center;
        font-size: 4.5rem;
}

.about-content h2 {
        text-align: left;
        line-height: 1.2;
}

.about-content h3 {
        font-size: 2.6rem;
}

.about-content p {
        font-size: 1.6rem;
        margin: 2rem 0 3rem;
        text-align: justify;
}

.journey {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: auto;
        padding-bottom: 5rem;
}

.journey .journey-row {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
}

.journey-row .journey-column {
        flex: 1 1 40rem;
}

.journey-column .title {
        font-size: 2.5rem;
        margin: 0 0 1.5rem 2rem;
}

.journey-column .journey-box {
        border-left: .2rem solid var(--main-color);
}

.journey-box .journey-content {
        position: relative;
        padding-left: 2rem;
}

.journey-box .journey-content::before {
        content: '';
        position: absolute;
        top: 0;
        left: -1.1rem;
        width: 2rem;
        height: 2rem;
        background: var(--main-color);
        border-radius: 50%;
}

.journey-content .content {
        position: relative;
        padding: 1.5rem;
        border: .2rem solid var(--main-color);
        border-radius: .6rem;
        margin-bottom: 2rem;
}

.journey-content .content::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--secondary-bg-color);
        z-index: -1;
        transition: 0.5s ease;
}

.journey-content .content:hover::before {
        width: 100%;
}

.journey-content .content .year {
        font-size: 1.5rem;
        color: var(--main-color);
        padding-bottom: .5rem;
}

.journey-content .content .year i {
        padding-right: .5rem;
}

.journey-content .content h3 {
        font-size: 2rem;
}

.journey-content .content p {
        font-size: 1.6rem;
        padding-top: 1.5rem;
}

.journey-content .content ul {
        padding: 1.5rem 0 0 2rem;
        font-size: 1.6rem;
}

.journey-content .content ul li {
        margin-bottom: 0.8rem;
}

.portfolio {
        background: var(--secondary-bg-color);
}

.portfolio h2 {
        margin-bottom: 3rem;
}

.portfolio-accordion {
        background: var(--tertiary-bg-color);
        border-radius: .5rem;
        box-shadow: 0 0 1rem var(--main-color);
}

.portfolio-accordion-item {
        border-bottom: .1rem solid var(--main-color);
}

.portfolio-accordion-item:nth-last-child {
        border-bottom: none;
}

.portfolio-accordion-header {
        padding: 1.5rem;
        cursor: pointer;
        background: var(--secondary-bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color .5s ease;
}

.portfolio-accordion-header:hover {
        background-color: var(--primary-bg-color);
}

.portfolio-accordion-header.active {
        background-color: var(--primary-bg-color);
}

.portfolio-accordion-header h3 {
        font-size: 2rem;
        margin: 0;
}

.portfolio-accordion-header i {
        font-size: 2.5rem;
}

.portfolio-accordion-content {
        display: none;
        padding: 1.5rem;
        font-size: 1.6rem;
        background: var(--tertiary-bg-color);
}

.portfolio-accordion-content p,
.portfolio-accordion-content ul {
        font-size: 1.6rem;
        margin: 0 0 2rem;
}

.portfolio-accordion-content ul {
        padding-left: 2rem;
}

.portfolio-accordion-content ul li {
        list-style: disc;
        margin-bottom: 0.8rem;
}

.portfolio-accordion-content strong {
        font-weight: 600;
}

.contact h2 {
        margin-bottom: 3rem;
}

.contact form {
        max-width: 70rem;
        text-align: center;
        margin: 1rem auto 3rem;
}

.contact form .input-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        color: var(--text-color);
        background: var(--secondary-bg-color);
        border-radius: 1rem;
        margin: .7rem 0;
}

.contact form .input-box input {
        width: 49%;
}

.contact form textarea {
        resize: none;
}

.contact form .btn {
        margin-top: 2rem;
        cursor: pointer;
}

.footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 2rem 9%;
        background: var(--secondary-bg-color);
}

.footer-text p {
        font-size: 1.6rem;
}

.footer-iconTop a {
        position: absolute;
        right: 5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: .8rem;
        background: var(--main-color);
        border-radius: .8rem;
        transform: translateY(-50%);
        transition: .5s ease;
}

.footer-iconTop a:hover {
        box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
        font-size: 2.4rem;
        color: var(--secondary-bg-color);
}

@media (max-width: 1200px) {
        html {
                font-size: 55%;
        }
}

@media (max-width: 991px) {
        .header {
                padding: 2rem 3%;
        }

        section {
                padding: 10rem 3% 2rem;
        }

        .home {
                padding-bottom: 0;
        }

        .about {
                padding-bottom: 0;
                align-items: end;
        }

        .journey {
                padding-bottom: 7rem;
        }

        .portfolio {
                padding-bottom: 7rem;
        }

        .contact {
                min-height: auto;
        }

        .footer {
                padding: 2rem 3%;
        }
}

@media (max-width: 768px) {
        #menu-icon {
                display: block;
        }

        .navbar {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 1rem 3%;
                background: var(--bg-color);
                border-top: .1rem solid rgba(0, 0, 0, .2);
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
                display: none;
        }

        .navbar.active {
                display: block;
        }

        .navbar a {
                display: block;
                font-size: 2rem;
                margin: 3rem 0;
        }

        .home {
                flex-direction: column;
                padding-bottom: 0;
        }

        .home-content h3 {
                font-size: 2.6rem;
        }

        .home-content h1 {
                font-size: 5rem;
        }

        .home-img img {
                width: 70vw;
                margin-top: 4rem;
        }

        .about {
                flex-direction: column-reverse;
                padding-bottom: 0;
        }

        .about-img img {
                width: 70vw;
                margin-top: 4rem;
        }

        .journey h2 {
                margin-bottom: 3rem;
        }

        .portfolio h2 {
                margin-bottom: 3rem;
        }

        .portfolio-container {
                grid-template-columns: repeat(2, 1fr);
        }
}

@media (max-width: 617px) {
        .portfolio-container {
                grid-template-columns: repeat(1, 1fr);
        }
}

@media (max-width: 450px) {
        html {
                font-size: 50%;
        }

        .contact form .input-box input {
                width: 100%;
        }

        .journey {
                padding: 10rem 4% 5rem 5%;
        }
}

@media (max-width: 365px) {
        .home-img img {
                width: 90vw;
        }

        .about-img img {
                width: 90vw;
        }

        .footer {
                flex-direction: column-reverse;
        }

        .footer p {
                text-align: center;
                margin-top: 2rem;
        }
}